body {
    background-color: yellowgreen;
    color: white;
    font-size: 1.2rem;
}

#output div {
    border: 1px solid red;
    margin-bottom: 1rem;
    width: 150px;
}

.background {
    background-color: crimson;
}

.background2 {
    background-color: rosybrown;
}